version: "3.9"

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: fileorbis_mssql
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fileorbis_backend
    environment:
      ConnectionStrings__DefaultConnection: "Server=mssql;Database=FileOrbisDB;User Id=sa;Password=YourStrong!Passw0rd;"
    ports:
      - "5089:8080"
    depends_on:
      - mssql

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: fileorbis_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mssql_data:
